/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  position:absolute;
  left:50%;
  margin-top: 50px;
  margin-left:-350px;
  background-color: purple;
}
.scoreboard{
  height: 45px;
}
.playField{
  height: 460px;
  width: 710px;
}
.safe{
  background-color: green;
}
.collided{
 background-color: #cc0000;
}

svg{
  border-style:solid;
  border-width:5px;
}

.left{
  float: left;
  font-family:"Verdana", Arial, sans-serif;
  font-size: 12px;
  position: absolute;
}

.message{
  float: right;
  position: relative;
  font-family:"Verdana", Arial, sans-serif;
  font-size: 36px;
}


